/*Importert kode: start https://cssgrid-generator.netlify.com/*/
.parent {

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr;

    grid-column-gap: 5px;

    grid-row-gap: 4px;
}

.left {
    grid-area: 1 / 1 / 2 / 2;
}

.right {
    grid-area: 1 / 2 / 2 / 3;
}
/*Importert kode: slutt https://cssgrid-generator.netlify.com/*/
