<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Oppgave02</title>
</head>
<body>
<h2>Oppgave2 - Registrer bruker</h2>
<form method="post" action="oppgave2.php">
    <ul class="wrapper">
        <li class="formlist">
            <label for="id-brukernavn">Brukernavn</label><input id="id-brukernavn" name="formuname" placeholder="epost" type="email">
        </li>
        <li class="formlist">
            <label for="id-passord">Passord</label><input id="id-passord" pattern=".{6,}" name="formpass" type="password">
        </li>
        <li class="formlist">
            <label for="id-fname">Fornavn</label><input id="id-fname" pattern=".{3,}" name="formfname" type="text">
        </li>
        <li class="formlist">
            <label for="id-lname">Etternavn</label><input id="id-lname" pattern=".{3,}" name="formlname" type="text">
        </li>
        <li class="formlist">
            <button name="subform">Login</button>
        </li>
    </ul>
</form>

{% if data.message %}
    <!-- Vis melding til bruker  -->
    <hr class="my-4">
    <div class="alert alert-info" role="alert">
        <h5 align="center">
            {{ data.message }}
        </h5>
    </div>
{% endif %}

</body>
</html>
