/*Importert kode start https://www.quackit.com/css/flexbox/tutorial/align_form_elements_with_flexbox.cfm*/
.wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}
.formlist {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
.formlist > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}
.formlist > input {
    flex: 2;
}
.formlist > input,
.formlist > button {
    padding: .5em;
}
.formlist > button {
    background: gray;
    color: white;
    border: 0;
}
@media screen and (min-width: 768px) {
    .formlist > input {
        flex: 2;
    }
}
@media screen and (min-width: 992px) {
    .formlist > input {
        flex: 2;
    }
}
@media screen and (min-width: 1200px) {
    .formlist > input {
        flex: 3;
    }
}
/*Importert kode slutt*/